body {
    margin: 0;
    padding: 0;
    background-image: url(6586755_3359732.jpg); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif; /* Example font-family */
}

.container {
    padding: 20px; /* Adjust padding as needed */
}

h1 {
    color: green;
    font-size: 18px;
    margin: 0;
}

.subtext {
    font-size: 14px;
    color: white; /* or any color you prefer */
    margin: 0;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add a border to the dropdown button on focus */
.dropbtn:focus {
  outline: none;
  border: 1px solid #3e8e41;
}
