body {
    background-image: url(6586755_3359732.jpg); 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.paragraph {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}

.paragraph p {
    margin-bottom: 50px;
}

.paragraph strong {
    font-weight: bold;
}

.paragraph ul {
    margin-left: 20px;
}
